---
const { cvUrl = "/files/cv.pdf" } = Astro.props;

const links = [
  { label: "Google Scholar", href: "https://scholar.google.com/citations?user=aRoPd9gAAAAJ&hl=en&authuser=1", external: true },
  { label: "GitHub", href: "https://github.com/vkvats", external: true },
  { label: "LinkedIn", href: "https://www.linkedin.com/in/vibhasvats/", external: true },
  { label: "Email", href: "mailto:vkvatsdss@gmail.com", external: true },
//   { label: "CV (PDF)", href: cvUrl, external: false },
  { label: "ORCID", href: "https://orcid.org/0000-0002-7232-0121", external: true },
];
---

<div style="display:flex; gap:10px; flex-wrap:wrap;">
  {links.map(l => (
    <a
      class="btn"
      href={l.href}
      target={l.external ? "_blank" : undefined}
      rel={l.external ? "noopener noreferrer" : undefined}
      style={l.label === "CV (PDF)" ? "font-weight:650;" : undefined}
      style="padding:6px 10px; font-size:13px;"
    >
      {l.label}
    </a>
  ))}
</div>